body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
header {
    background-color: #e8e8e8;
    color: black;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
header a {
    color: black;
    text-decoration: none;
}
#title {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.menu-button-closed {
    border-radius: 3px;
}

.menu-button-open {
    border-radius: 3px 3px 0 0;
}

@media screen and (max-width: 600px) {
    #title {
        display: block;
    }

    #open-menu, #open-menu-icon {
        /*position: absolute;
        display: block;*/
        /*width: 40px;
        height: 18px;*/
        /*right: 0px;
        top: 0px;*/
	display: inline-block;
	float: right;
        cursor: pointer;
        /*margin-top: 5px;
        margin-right: 10px;*/
    }
    #open-menu {
        opacity: 0;
        z-index: 1153;
    }
    #open-menu-icon {
        z-index: 1152;
    }
    nav {
        position: absolute;
	right: 0px;
        background: #e8e8e8;
        display: none;
    }
    nav.menuShow {
        padding-top: 10px;
        display: inline;
	z-index: 1150;
    }
    nav ul li {
        margin: 10px;
    }
    article {
        margin-left: 10px;
        margin-right: 10px;
    }
}

nav {
    font-size: 16px;
}
nav ul {
    list-style-type: none;
}

@media screen and (min-width: 600px) {
    nav {
        font-weight: normal;
        display: inline-table;
        float: right;
        margin-left: 15px;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a {
        padding: 6px 8px;
    }
    #open-menu, #open-menu-icon {
        display: none;
    }
}
nav ul li a:hover {
    background-color: #454545;
    color: white;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img#loading {
    animation: spin 2s steps(9) infinite;
    display: none;
    margin-left: 10px;
}

#routingcontrols {
    height: calc(100% - 30px);
    width: 250px;
    background: #ccc;
    float: left;
    padding: 15px 15px 15px 15px;
    overflow-y: scroll;
}

form#routing > input{
    width: 180px;
}

form#routing > label {
    display: block;
    margin-top: 10px;
}

form#routing ul li label {
    display: block;
}

img.formIcon,
form#routing > input[type='text']{
    height: 32px;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.inputDescription {
    font-style: italic;
    color: #444;
}

#mapid {
    /*width: 100%;*/
    height: calc(100% - 30px);
    overflow: hidden;
}

article {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.float_left {
    float: left;
    margin-bottom: 10px;
}

.float_right {
    float: right;
    margin-bottom: 10px;
}

#info {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
}

div.errorMessage {
    color: red;
    font-size: 80%;
}

div#routingErrorMessage {
    display: none;
}

/* search results */
div#searchResultsBox {
    z-index: 1001;
    position: relative;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-color: #bbbbbb;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 40px;
    max-width: 390px;
    max-height: calc(100% - 70px);
}

ul.search-results-box-invisible {
    display: none;
}

/*ul.search-results-box-visible {
    display: inline-block;
}*/

ul.search-results {
    padding-left: 0px;
    list-style: none;
    padding-top: 8px;
/*    max-height: calc(100% - 70px);
    overflow-y: scroll;
    padding-right: 20px;*/
}

ul.search-results li {
    font-size: 12px;
    margin-bottom: 6px;
}

.float_right {
    margin-bottom: 10px;
    float: right;
}

/* context menu */
.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.context-menu-active {
    display: block;
}

ul li.pointBlock {
    list-style-type: none;
}

ul#vias {
    padding-left: 0;
}

.dragging {
    opacity: 0.4;
}

.draggedOver {
    border-top: 2px solid blue;
}

/* length and time of the returned route */
.resultText {
    display: none;
}
